h1{
	color: royalblue;
}
.divClass {
	color: royalblue;
	align-content: center;
}

img {
	height: 400px;
}

#thirdDiv {
	width: 500px; 
	height: 600px; 
	background-color: lightblue; 
	padding: 50px; 
	border: 5px solid blue;
	align-content: center;
}

#spanId {
	font-size: 25px;
	margin: 50px
}